div.titulo_menu
{
width:90%;
height:130%;
padding:10px;
border-style:solid;
border-color:#165788;
border-width:5px;
margin:0px;
color: #165788;
border-radius: 15px;
background-color: #E6E6E6;
margin-left:auto;
margin-right:auto;
text-align: center;
}