div.autor
{
width:90%;
height:130%;
padding:10px;
//border-style:solid;
border-color:#165788;
border-width:5px;
margin:0px;
color: #165788;
border-radius: 15px;
//background-color: #E6E6E6;
margin-left:auto;
margin-right:auto;
}

div.mensaje
{
width:70%;
height:100%;
padding:20px;
border-style:solid;
border-color:#E6E6E6;
border-width:5px;
margin:0px;
text-align:center;
color: #E6E6E6;
font-family:Helvetica;
border-radius: 15px;
background-color: #165788;
//text-indent:80px;
margin-left:auto;
margin-right:auto;
}

div.recordatorio
{
width:90%;
height:100%;
padding:9px;
border-style:solid;
border-color:;
border-width:px;
margin:0px;
text-align:center;
color: #165788;
font-family:Helvetica;
border-radius: 15px;
background-color: ;
margin-left:auto;
margin-right:auto;
}
div.hora
{
  text-align:right;
  font-family:Courier New;
  font-size:15px;
  color: #165788;
  position:absolute;
  right: 20px;
}

div.title
{
  font-family:Helvetica;
  font-size:25px;
  color: #E6E6E6;
  text-indent: 20px;
  border-radius: 15px;
  background-color: #165788;
  border-style:solid;
}

img.autor
{
  border-radius: 15px;
  border-style:solid;
  border-color:#165788;
  border-width:3px;
  position:relative;
  left: 5px;
}

img.destinatario
{
  border-radius: 15px;
  border-style:solid;
  border-color:#165788;
  border-width:3px;
  position:absolute;
  right: 0px;
}