div.nombre_perfil
{
width:90%;
height:130%;
padding:10px;
border-style:solid;
border-color:#E6E6E6;
border-width:5px;
margin:0px;
color: #E6E6E6;
border-radius: 15px;
background-color: #165788;
margin-left:auto;
margin-right:auto;
text-align: center;
}

div.mail_perfil
{
width:90%;
height:130%;
padding:10px;
border-style:solid;
border-color:#165788;
border-width:5px;
margin:0px;
color: #165788;
border-radius: 15px;
background-color: #E6E6E6;
margin-left:auto;
margin-right:auto;
text-align: center;
}

img.x-img profilePic x-img-image x-img-background x-sized x-paint-monitored x-size-monitored x-layout-box-item {
	background-repeat: no-repeat;
	-moz-border-radius: 7px;
	-webkit-border-radius: 187px;
	border-radius: 262px;
}